Project Name: Sahayog nothing

** Project Requirements:

1] Landing Pages
    - Attractive layouting and design
    - Navigation bar for different sections on same page.
    - A user form to apply for registration
    - a contact form to enquire and donate.

    UI consists of:
    - Header: Logo, Navigation (About, Projects, Donate, Contact), CTA button
    - Hero Section: Full-width background image + tagline + CTA + Image Carousel
    - About Us: Brief intro, mission, vision
    - Projects: Cards with images, titles, descriptions
    - Impact Statistics: Animated counters (e.g., people helped, funds raised)
    - Testimonials: Carousel
    - Call to Action: Big section “Join us” or “Donate now”
    - Footer: Social links, contact info, newsletter subscription

    * Color Pallete:
    1] Background color:
        - page background: #0b6051 // header, nav, footer
        - secondary-color: #fff // main content

    2] text colors:
        - heading-color: #DFFDFB,
        - sub-heading-color: #418E7F,
        - main-content-heading-section: #4f4564,
        - counter-color: #C3817A
        - card-heading: #433D4E,
        - card-subheading: #E7E7E9

    3] button colors:
        - button color: #Fdd604 // header buttons, join us
        - secondary-button-color: #F0BD16, // contact, forms

    * Typography: 
    - Heading fonts: Roboto (all Headings),
    - text-fonts: Railway (card sub-title), open-sans / Monserrat

2] Admin Dashboard:
    - Sidebar: Dashboard, Projects, Donations, Users, Settings
    - Main: Data cards (total donations, active users, new signups), recent donations table, charts (Pie/Line)


**** WEBSITE PAGES *****

1] Header
    - logo and navigation bar

2] Main sections
    - above footer, certifications and partners

3] Footer
    - footer consists of ngo address, social icons, multiple pages related to ngo work